




.profile-pic {
    border-radius: 150px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
  }
  .image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
 
  }

  

  
.front-text {
    text-align: center;
    margin: 10px;
    padding: 10px;
    

  }

.name {
    font-size: 100px;
    color: rgba(0, 157, 248, 0.801);
    text-align: left;
    font-family:Times New Roman;
    margin-bottom: 0px;
  }
  .name1 {
    font-size: 35px;
    color: white;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0px;
    font-family:Times New Roman;
  }

  .graduated {
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0px;
    font-family:Times New Roman;
  }