header {
    display: inline-block;
    background: black;
    position: fixed;
    top: 0;
    width: 100%;

  }





.col{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    padding: 10px;
}


  
ul{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    
}

li{
    list-style: none;
  }
a{
    color: white;
    text-decoration: none;
    font-family:Times New Roman;
  }